.header__logo {
    max-width: 142px;
    max-height: 33px;
    object-fit: cover;
    margin-bottom: 41px;
}
@media screen and (max-width: 900px) {
    .header__logo {
        width: 20.2%;
        margin-left: 5%;
        margin-bottom: 4.7%;
    }
  }
@media screen and (max-width: 568px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-bottom: 31.6px;
        margin-left: 27px;
    }
  }