.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background: transparent;
    margin: 43px 0 0 0;
    padding: 0;
    height: 27px;
    width: 358px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 568px) {
    .popup__input {
        width: 238px;
        margin-top: 30px;
    }
  }
.popup__input:focus{
    outline: none;
}
.popup__input_type_error{
    border-bottom-color: red;
}