.element__like-button {
    height: 40px;
    width: 22px;
    margin-top: 22px;
    margin-right: 20px;
    padding: 0;
    outline: none;
    border: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    